body{
    background-color: #E9EBEE;
}

.navbar {
    font-size: 14px;
    height: 30px;
    min-height:42px !important;
    overflow: hidden;
}
.padder {
width: 100px;
}
.nav-item {
    margin-right: 10px;
    list-style: none;
}

.nav-link {
    color: white;
}
#fb-logo {
    margin-bottom: 18px;
}
.navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
}
.nav-item{
    margin-top: 10px;
    margin-left: 15px;
}
.form-inline {
    width: 250px;
}
.container-fluid {
padding-right:0;
    padding-left:0;
}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.navbar-nav {
  height: 42px;
  }
#fb-search-box {
    width: 400px;
    height: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
         
   
}
.fb-search-icon {
margin-left: -20px;
}
#fb-search-button1 {
    height: 24px;
    width: 47px;
    margin-top: 9px;
    float: left;
   
    margin-left: 0px;
  
}
.fb-signup {
font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
font-size: 32px;
font-weight: bold;
margin-left: 0;
}
.fb-signup-2 {
font-size: 18px;
}
.fb-signup-3 {
font-size: 12px;
}
.fb-login-text {
font-size: 18px;
font-weight: bolder;
margin-top: 30px;
}
.btn-wide {
width: 200px;
background-color: #449D44;
}
.fb-logo-main {
color: white;
font-weight: bolder;
font-size: 36px;
/*text-align: center;*/
margin-left: 100px;
}
/*** Post card ***/
#post-form {
    width: 500px;
    height: 33px;
   

}
#post-title {
    background-color: #F5F6F7;
}

.padder {
height: 150px;
}
.new-post-header {
background-color: #F5F6F7;
margin-bottom: 0;
}
.form-body {
  margin-top: 0;
  }
.custom-bg {
background-color: #365899;
color: white;
font-style:  bold;
}

.card-bg {
background-color: white;
}
.no-bg {
background: none;
}

.card-header {
width: 500px;
padding: 6px 12px;
}
.card-body {
width: 500px;
padding: 6px 12px;
}
.card-footer {
width: 500px;
padding: 6px 12px;
}
.form-control1 {
width: 310px;
border-radius: 10px 10px 10px 10px;
margin-right: 10px;
}
#notification{
  color: white;
  background-color: rgb(243, 74, 74);
  border-radius: 10px;
  position: relative;
  right: 13px;
  width: 13px;
  height: 13px;
  font-size: 10px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
font-weight: 600;
}
.profile-icon {
margin: 20px 20px 20px 80px;
}
.dropdown-toggle::after {
display: none;
}
.h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }