body{
    background-color: #E9EBEE;
}

.navbar {
    font-size: 14px;
    height: 30px;
    min-height:42px !important;
    overflow: hidden;
}

.nav-item {
    margin-right: 10px;
    list-style: none;
}

.nav-link {
    color: white;
}
#fb-logo {
    margin-left: 10px;
    margin-bottom: 18px;
    /*margin-top: 5px;*/
}
.navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
}
.nav-item{
    margin-top: 10px;
    margin-left: 20px;
}
.form-inline {
    width: 250px;
}
#searchThis {
    margin-right: 0;
}
#searchBox {
    width: 393px;
    height: 24px;
    float: left;
    margin-right: 0;
   /* margin-top: 8px;*/
    border-radius: 3px 0px 0px 3px;
    padding: 0;
   
}
#searchButton {
    height: 23px;
    width: 33px;
    float: left;
    margin-left: 0;
   /* margin-top: 9px;*/
    background-image: url('/images/search.png');
}
#fb-search-box {
    width: 393px;
    height: 23px;
    margin-left: 0;
    margin-right: 0;
   /* margin-top: 5px;*/
   
}


#fb-search-set{
    margin-bottom: 20px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

/*** Post card ***/
#post-form {
    width: 500px;
    height: 33px;
   

}
#post-title {
    background-color: #F5F6F7;
}

.padder {
height: 150px;
}
.new-post-header {
background-color: #F5F6F7;
margin-bottom: 0;
}
.form-body {
  margin-top: 0;
  }
.custom-bg {
background-color: #365899;
color: white;
font-style:  bold;
}

.card-bg {
background-color: white;
}

.card-header {
width: 500px;
padding: 6px 12px;
}
.card-body {
width: 500px;
padding: 6px 12px;
}
.card-footer {
width: 500px;
padding: 6px 12px;
}
.card-text {
border-bottom: solid 1px;
}
#line {
height: 1px;
}
.dropdown-toggle::after {
display: none;
}
.h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }